@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/






/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*Sign up page styling*/
form {
  margin: 0 auto;
  background: rgb(238, 234, 234);
  text-align: center;
  width: 70%;
  padding-top: 53px;
  /* padding: 19px; */
	padding-bottom: 51px;
	margin-top: 122px;
}
input[type=text], input[type=password], input[type=email],input[type=number], textarea, select{
	width: 70%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #ffffff;
}
#duplicate-email-msg{
	text-align: center;
	background: rgb(255 7 7 / 53%);
	/* margin-right: 115px; */
	width: 73%;
	margin-left: 12%;
	padding: 10px;
	/* margin-top: 11%; */
	transform: translate(10px, 90px);
}
#signup-ok{
	text-align: center;
  background: rgba(62, 230, 99, 0.3);
  /* margin-right: 115px; */
  width: 73%;
  margin-left: 12%;
  padding: 10px;
  /* margin-top: 11%; */
  transform: translate(10px, 90px);
}

/*Sign up styling end*/

#login-fail{
	text-align: center;
  background: rgb(255 7 7 / 53%);
  /* margin-right: 115px; */
  width: 73%;
  margin-left: 12%;
  padding: 10px;
  /* margin-top: 11%; */
  transform: translate(10px, 90px);

}

/*table user listing*/
table {
  border-collapse: collapse;
	width: 100%;	
}
table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/*nav bar user listing page*/
nav{
  background-color: rgba(105,105,105,0.3);
  padding: 17px;
  font-size: 17px;
}

nav a{
  padding-left: 21px;
	padding-right: 65px;
	color: black;
}
nav a:hover{
	background-color: #ddd;
}


h1{
	font-size: 19px;
	text-align: center;
	padding: 20px;
}

